<a href="https://colab.research.google.com/github/srtaksande/MachineLearning/blob/main/TEXT%20PREPROCESSING%20IMPLEMENTATION%20ON%20SPAM%20DATASET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TEXT PREPROCESSING IMPLEMENTATION ON SPAM DATASET**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
spam_ds = pd.read_csv('/content/gdrive/MyDrive/TEXT_MINING_2021/spam.csv', encoding="ISO-8859-1")
spam_ds.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [ ]:
#expanding the dispay of text sms column
pd.set_option('display.max_colwidth', -1)

#using only v1 and v2 column
data= spam_ds[['v1','v2']]
data.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

     v1                                                                                                                                                           v2
0  ham   Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
1  ham   Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3  ham   U dun say so early hor... U c already then say...
4  ham   Nah I don't think he goes to usf, he lives around here though

In [ ]:
#checking the count of the dependent variable
data['v1'].value_counts()

ham     4825
spam    747
Name: v1, dtype: int64

**CLEANING DATA THROUGH PRE-PROCESSING TECHNIQUES**

**PUNCTUATION REMOVAL**

In [ ]:
#library that contains punctuation
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
#defining the function to remove punctuation
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree
#storing the puntuation free text
data['clean_msg']= data['v2'].apply(lambda x:remove_punctuation(x))
data.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     v1  ...                                                                                                                                              clean_msg
0  ham   ...  Go until jurong point crazy Available only in bugis n great world la e buffet Cine there got amore wat
1  ham   ...  Ok lar Joking wif u oni
2  spam  ...  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive entry questionstd txt rateTCs apply 08452810075over18s
3  ham   ...  U dun say so early hor U c already then say
4  ham   ...  Nah I dont think he goes to usf he lives around here though

[5 rows x 3 columns]

CASE LOWERING OF DATA

In [ ]:
data['msg_lower']= data['clean_msg'].apply(lambda x: x.lower())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
#defining function for tokenization
import re
def tokenization(text):
    tokens = re.split('W+',text)
    return tokens
#applying function to the column
data['msg_tokenied']= data['msg_lower'].apply(lambda x: tokenization(x))
data['msg_tokenied'].head()

0    [go until jurong point crazy available only in bugis n great world la e buffet cine there got amore wat]
1    [ok lar joking wif u oni]
2    [free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005 text fa to 87121 to receive entry questionstd txt ratetcs apply 08452810075over18s]
3    [u dun say so early hor u c already then say]
4    [nah i dont think he goes to usf he lives around here though]
Name: msg_tokenied, dtype: object

In [ ]:
#importing nlp library
import nltk
nltk.download('stopwords')
#Stop words present in the library
stopwords = nltk.corpus.stopwords.words('english')
stopwords[0:10]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [ ]:
#defining the function to remove stopwords from tokenized text
def remove_stopwords(text):
    output= [i for i in text if i not in stopwords]
    return output

#applying the function
data['no_stopwords']= data['msg_tokenied'].apply(lambda x:remove_stopwords(x))

In [ ]:
#importing the Stemming function from nltk library
(Stemmer and Lemmatization is applied post tokenization)
from nltk.stem.porter import PorterStemmer
#defining the object for stemming
porter_stemmer = PorterStemmer()

In [ ]:
#defining a function for stemming
def stemming(text):
   stem_text = [porter_stemmer.stem(word) for word in text]
   return stem_text
data['msg_stemmed']=data['no_stopwords'].apply(lambda x: stemming(x))

In [ ]:
from nltk.stem import WordNetLemmatizer
#defining the object for Lemmatization
wordnet_lemmatizer = WordNetLemmatizer()

In [ ]:
#defining the function for lemmatization
nltk.download('wordnet')

def lemmatizer(text):
    lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
    return lemm_text
data['msg_lemmatized']=data['no_stopwords'].apply(lambda x:lemmatizer(x))

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.